<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/perfil.css">
    <title>Editar Perfil</title>
</head>
<body>
    <nav class="navbar">
        <p class="nav_logo">Prosperar</p>
        <a href="/profissionais" class="nav_link">Home</a>
    </nav>

    <h1 class="perfil_titulo">Editar Perfil</h1>

    <form action="/clientes/perfil" method="POST" class="perfil_form">
        <div>
            <label for="nome" class="cliente_label">Nome:</label>
            <input type="text" id="nome" name="nome" value="<%= cliente.nome %>" required class="cliente_input">
        </div>
        <div>
            <label for="cpf" class="cliente_label">CPF:</label>
            <input type="text" id="cpf" name="cpf" value="<%= cliente.cpf %>" required class="cliente_input">
        </div>
        <div>
            <label for="endereco" class="cliente_label">Endereço:</label>
            <input type="text" id="endereco" name="endereco" value="<%= cliente.endereco %>" required class="cliente_input">
        </div>
        <div>
            <label for="email" class="cliente_label">E-mail:</label>
            <input type="email" id="email" name="email" value="<%= cliente.email %>" required class="cliente_input">
        </div>
        <div>
            <label for="dataNascimento" class="cliente_label">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" name="data_nascimento" class="cliente_input" value="<%= cliente.data_nascimento.toISOString().substr(0, 10) %>" required>
        </div>
        <button type="submit" class="cliente_btn">Salvar Alterações</button>
    </form>

    <form id="delete-form" action="/clientes/perfil/delete" method="POST">
        <button type="button" onclick="confirmDelete()" class="delete_btn">Deletar Perfil</button>
    </form>

    <script>
        function confirmDelete() {
            if (confirm('Tem certeza que deseja deletar seu perfil? Esta ação não pode ser desfeita.')) {
                document.getElementById('delete-form').submit();
            }
        }
    </script>
</body>
</html>
